<a name="your-cart"><h2 class="cart-title">Your Cart</h2></a>
  <div class="cart-slidedown">
    <main id="cart">
      <table>
        <thead>
          <tr>
            <th>PRODUCT</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody id="cart-info">
          <!-- APPEND ORDER LINES -->

        </tbody>
      </table>

      <aside>
        <div class="order-sum">
          <h4>Order Summary</h4>
          <section class="subtotal">
            <div class="left">
              <p>Subtotal</p>
              <p>Pickup</p>
            </div>
            <div class="right">
              <!-- subtotal -->
            </div>
          </section>
          <div class="total">
            <!-- total -->
          </div>
        </div>
        <btn class="checkout-button" type="submit">PLACE ORDER</btn>
        <div class="checkout-msg"></div>
      </aside>

    </main>
  </div>
