<header id="header">
  <nav class="navbar">
    <a href="/">
      <img src="/images/PizzaPlanetLogo.png">
    </a>
    <div class="page-links">
      <a class="menu-link" href="/menu">Menu</a>
      <a class="cart-link" href="/cart">Cart</a>
      <a class="past-orders-link" href="/past-orders">Past Orders</a>
      <btn type="submit" class="login-btn">LOG IN</btn>
    </div>
  </nav>
</header>
