<header id="header">
  <nav class="navbar">
      <a href="/">
        <img src="/images/PizzaPlanetLogo.png">
      </a>
    <div class="page-links">
      <a id="menu-link" href="/menu">Menu</a>
      <a id="cart-link" href="#your-cart">Cart</a>
      <% if (userID) { %>
        <btn type="submit" class="logout-btn">LOG OUT</btn>
      <% } else { %>
        <btn type="submit" class="login-btn">LOG IN</btn>
      <% } %>
    </div>
  </nav>
</header>
