h2 {
  font-family: 'Aclonica', sans-serif;
  padding: 40px 72px;
  color: #e61610;
  font-size: 30px;
}

#cart {
  padding: 0px 72px;

  table {
    width: 100%;


    th {
      color: #798da3;
      font-weight: 400;
      font-size: 12px;
      text-align: left;
    }
  }

  a.checkout-button {
      display: inline-block;
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 10px 45px;
      border: 1px groove #e61610;
      border-radius: 5%;
      margin: 30px 0px 60px 358px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
    }
}


