h2 {
  font-family: 'Aclonica', sans-serif;
  padding: 40px 72px;
  color: #e61610;
  font-size: 30px;
}

#cart {
  padding: 0px 72px;

  th {
    color: #798da3;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
  }

  tr {
    padding: 40px 0px;
  }
}
