nav {
  background-color: #c4d0dd;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  height: 70px;
  padding: 0px 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .papa-john {
    font-size: 14px;
    display: none;
  }

  a img {
    height: 100px;
  }

  .page-links {
    font-weight: 700;

    a {
      text-decoration: none;
      color: black;
      padding: 0px 24px;
      font-size: 16px;
    }

    .login-btn, .logout-btn {
      background-color: black;
      color: white;
      padding: 7px 35px;
      margin-left: 15px;
      cursor: pointer;
      font-size: 12px;
      border-radius: 5%;
      border: 1px solid black;
    }

    .logout-btn {
      padding: 7px 29px;
    }

    .login-btn:hover, .logout-btn:hover {
      background-color: rgb(240, 240, 240);
      color: black;
    }
  }
}




