
  div.about {
    padding:0px 72px;

    .user-name {
      font-size: 14px;
    }

    img.Rocket {
    display: block;
    width: 200px;
    margin: 60px 0px;
    filter: drop-shadow(5px 5px 5px black)
    }

    p {
      width: 300px;
      color: #798da3;
      font-size: 16px;
      padding-bottom: 30px;
    }

    a.order-button {
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 10px 45px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5%;
      font-weight: 700;
      border: 1px solid black;
    }

    a.order-button:hover {
      background-color: #c4d0dd;
      color: #e61610;
    }

    img.Cube {
      width: 325px;
      float: right;
      position: relative;
      bottom: 320px;
      margin-right: 50px;
      border-radius: 50%;
    }
  }

  .breaker {
    border: 2px solid #e61610;
    width: 90%;
    margin: 120px auto;
  }

.container {
  width: 100%;
  padding: 0px 72px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 120px;

  article {
    width: 200px;
  }
  h4 {
    margin-top: 10px;
  }

  h4.Ethical {
    margin-left: 14px;
  }
  h4.hours {
    margin-left: 44px;
  }
  h4.Pineapple {
    margin-left: 38px;
  }
  img {
    height: 100px;
    display: block;
    margin: 0 auto;
  }

  .col-1-desc p {
    color: #798da3;
    font-size: 14px;
  }
}



