h2 {
  font-family: 'Aclonica', sans-serif;
  padding: 40px 72px;
  color: #e61610;
  font-size: 30px;
}

#menu {
  padding: 0px 72px;

  h3 {
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
  }

  .order-button {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 45px;
    border: 1px groove #e61610;
    border-radius: 5%;
    margin: 30px 0px 60px 350px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
  }

  .order-button:hover {
    background-color: #c4d0dd;
    color: #e61610;
    border-color: black;
    font-weight: 900;
  }

  .pizza, .sides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .dish {
    width: 244px;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    margin-bottom: 40px;
    border: 2px outset #e61610;
    box-shadow: 2px 4px 8px black;

    .dish-image {
      width: 240px;
      height: 240px;
      background-color: black;
    }

    .dish-info {
      padding: 10px;

      h4 {
        font-weight: 600;
      }

      p {
        font-weight: 300;
        font-size: 14px;
        height: 50px;
        color: #798da3;
      }

      label, select {
        font-size: 12px;
        width: 75px;
      }

      .add-to-cart {
        background-color: black;
        color: white;
        display: inline-block;
        padding: 3px 20px;
        border: 1px solid black;
        cursor: pointer;
        font-size: 10px;
        font-weight: 700;
        border-radius: 5%;
        margin: 20px 0px 15px 53px;
      }

      .add-to-cart:hover {
        background-color: #c4d0dd;
        color: black;
      }
    }
  }
}

#menu section .added {
  border-color: #4BB543;
}
